<div class="ui raised very padded text container segment" style="margin-top: 10%">
    <div class="ui top attached big label">Log In</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), class: "ui form", data: {turbo: false}) do |f| %>
  <div class="field">
    
    <%= f.label :email %><br />
      <div class="ui input">
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>
  </div>
  <br/>
  <div class="field">
    <%= f.label :password %><br />
      <div class="ui input">
    <%= f.password_field :password, autocomplete: "current-password" %>
      </div>
  </div>
<br/>
  <% if devise_mapping.rememberable? %>
    <div class="ui checkbox">
      <%= f.check_box :remember_me, class: "checkbox" %>
      <%= f.label :remember_me %>
    </div>
  <% end %>
  <br/>
        <br/>
  <div class="actions">
    <%= f.submit "Log in", class: "ui blue button", style: "display: inline" %>
      <%= render "users/shared/links" %>
  </div>
<% end %>


</div>